# 定时cron表达式;每天凌晨2点执行
cron: "0 2 * * *"
# acme注册邮箱
email: my@example.com
# 本地校验dns服务器（默认的Google dns可能会出现校验失败问题）
recursive-nameservers:
  - 119.29.29.29:53
# 禁用本地校验，如果能确认dns生效的，而因为某些原因本地校验不通过，可以禁用本地校验
disable-cp: false
# 本地校验dns服务器超时时间/秒
dns-timeout: 120
# 校验前等待时间/秒;  当disable-cp: true时，建议设置为30,反之设置为0
valid-sleep-time: 30
debug: true

# 腾讯云CDN API密钥
tencentcloud:
  secret-id:
  secret-key:

# dns供应商 api密钥
dns-providers:
  - name: cloudflare
    type: cloudflare
    auth-email:
    auth-key:
  - name: tencentcloud
    type: tencentcloud
    secret-id:
    secret-key:


# 过期前提前几天续签
renew-days: 30

# 续签域名及其dns供应商
renew-domains:
  - domain-name: a.example.com
    dns-provider-name: tencentcloud
  - domain-name: b.example.com
    dns-provider-name: tencentcloud
